

<h1>Friends</h1>

<table class="table" id="friends">
<thead>
<tr>
  <% @friends.each do |friend| %>
    <%= render friend %>
    <p>
      <%= link_to "Show this friend", friend %>
    </p>
  <% end %>
  </tr>
  </thead>
</table>

<%= link_to "New friend", new_friend_path %>
